* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#containergallerij {
  height: 100%;
  width: 100%;
  background-color: #191971;
  color: #616161;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.1rem;
}

/* foto's */

.witvak {
  background-color: #f4f4f4;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 20%;
  height: 20%;
}

.info img {
  width: 185%;
  border-radius: 10px;
}

.image {
  width: 50%;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

/* Opload knop */

.uploadinfo {
  background-color: #f4f4f4;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 90%;
  height: 50%;
}

.number {
  background-color: #f4f4f4;
  width: 40%;
  margin-top: 4rem;
}

.number-header {
  width: 170%;
  margin: 0 auto;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin-left: 42%;
  text-align: center;
}

.number-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191971;
  color: #f4f4f4;
  width: 205%;
  margin-left: 20%;
}

.number-search h2 {
  margin: 0 auto;
}
